.html-box-main-container {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    .first-main-container {
        display: flex;
        .first-container {
            height: 150px;
            width: 50px;
            border-right: 1px solid black;
        }
        .second-container {
            height: 50px;
            width: 150px;
            border-bottom: 1px solid black;
        }
    }
    .second-main-container {
        display: flex;
        .third-container {
            height: 50px;
            width: 150px;
            border-top: 1px solid black;
        }
        .forth-container {
            height: 151px;
            width: 50px;
            border-left: 1px solid black;
            margin-top: -100px;
        }
    }
}